.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--whiteColorDream);
    width: 100%;
    padding: 1rem;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.185);

    .logo {
        color: var(--blackColor);
        font-weight: 600;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        .icon {
            font-size: 25px;
            color: var(--PrimaryColor);
            transform: translateY(4px);
        }
    }


    @media screen and (max-width: 768px) {
        .navbar {
            position: absolute;
            background-color: var(--whiteColorDream);
            height: max-content;
            width: 80%;
            border-radius: 1rem;
            top: -100rem;
            left: 50%; 
            padding: 1rem;
            transform: translate(-50%);
            z-index: 2000;
            box-shadow: 0 2px 4px rgba(2, 15, 29,0.904);
            transition: .4s ease-in-out;
            .navLists {
                flex-direction: column;
                justify-content: center;
                width: 100%;
                margin: auto;
                padding: 0.5rem 0;
                .navItem {
                    padding: .5rem 0;
                    .navLink {
                        color: var(--textColor);
                        font-size: .9rem;
                        font-weight: 600;
                        &:hover {
                            color: var(--PrimaryColor);

                        }
                    }
                }
                .btn {
                    margin-top: 1rem;
                    a {
                        font-weight: 600;
                        color: var(--whiteColorDream);
                    }
                }
            }
            .closeNavbar {
                position: absolute;
                //font-size: 2rem;
                top: 1rem;
                right: 1.5rem;
                color: var(--PrimaryColor);
                &:hover {
                    color: var(--SecondaryColor);
                }   
            }
        }
        .activeNavbar {
            top: 7rem;
        }

    }
    .toggleNavbar {
        .icon {
            font-size: 25px;
            color: var(--PrimaryColor);
            &:hover {
                color: var(--SecondaryColor);
            }
        }
    }
}

// MEDIA QUERIES ========>
@media screen and (min-width: 769px){
    .closeNavbar, .toggleNavbar {
        display: none;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    .navbar {
        .navLists {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;

            .navItem {
                .navLink {
                    color: var(--textColor);
                    padding: 0 0.45rem;
                    font-size: 0.9rem;
                    font-weight: 500;

                    &:hover {
                        color: var(--PrimaryColor);
                    }

                    .headerNumber {

                    }
                }
            }

            .btn {
                margin-left: 1rem;

                a {
                    font-weight: 500;
                    color: var(--whiteColor);
                }
            }
        }

    }
}
@media screen and (min-width: 960px) {
    .header {
        .navbar {
            .navLists {
                .navItem {
                    padding: 0 0.7rem;
                }
            }
        }
    }
}

@media screen and (min-width: 1240px) {
    .header {
        padding: 1rem 8.5rem;
    }
}